.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a8ebc1 0%, #dff79d 100%);
}

.cards{
  display: flex;
  margin:  auto;
}
.cardBody2{
  display: flex;
 justify-content: space-around;
}
.inputGroup{
  margin: auto;
}